<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="description" content="sdp">
<meta name="keywords" content="SDP">
<title>功能角色管理页面</title>
<link rel="stylesheet" href="../../../css/iview.css">
<link rel="stylesheet"
	href="../../../js/jquery/layer/theme/default/layer.css">
<link rel="stylesheet" href="../../../css/sdp-ui.css" />
<link rel="stylesheet"
	href="../../../css/fonts/iconic/material-design-iconic-font.min.css" />
<link rel="stylesheet"
	href="../../../css/fonts/awesome/font-awesome.min.css" />
<style type="text/css">
	.vertical-center-modal{
        display: flex;
        align-items: center;
        justify-content: center;      
    }
   .vertical-center-modal .ivu-modal{
        top: 0;
   }
</style>
</head>
<body>
	<div class="sdp-main-container" id="mainContainer" v-cloak>
		<row > 
			<i-col :span="8"> 
				<row> 
					<i-col :span="18">
						<i-input v-model="role_name" placeholder="输入帐号或名称"></i-input> 
					</i-col> 
					<i-col :span="6"> 
						<i-button @click="searchDatas" icon="search">查询 </i-button>
					</i-col> 
				</row> 
				<i-table :data='datas' :columns="columns01" ref="dataRoleGrid" height="400" @on-select-change="roleTableSelect" border highlight-row> </i-table> 
				<page @on-page-size-change="handleSizeChange" :page-size="page.getPageRowCount()" @on-change="handleCurrentChange" :current="page.getPageNumber()" 
				show-total show-elevator show-sizer :total="page.totalCount"></page>
			</i-col> 
			<i-col :span="12"> 
				<row type="flex" justify="end"> 
					<i-button icon="android-add" @click="addFunction">添加功能</i-button> 
					<i-button img="fa fa-remove" @click="deleteRows">删除功能</i-button>
				</row> 
				<i-table :data='datas02':columns="columns02" ref="dataFunctionRoleGrid" height="400" border></i-table> 
				<page @on-page-size-change="handleFunctionSizeChange":page-size="page2.getPageRowCount()" @on-change="handleFunctionCurrentChange" :current="page2.getPageNumber()"
				show-total show-elevator show-sizer :total="page2.totalCount"></page> 
			</i-col> 
		</row>
		
		<!-- 新增选择功能 -->
		<Modal v-model="dataAdd" title="选择功能" :mask-closable="false"  width="50"  @on-ok="listDataSave"  class-name="vertical-center-modal"> 
			<row> 
				<i-col :span="20">
					<i-input v-model="function_name" placeholder="输入功能名称或编码"></i-input> 
				</i-col> 
				<i-col :span="4"> 
					<i-button @click="queryFunctionDatas" icon="search">查询 </i-button>
				</i-col> 
			</row> 
			<i-table :data='datasFunction' :columns="columnsFunction"ref="dataFunctionGrid" height="300" border></i-table> 
			<page @on-page-size-change="handlefunctionSizeChange":page-size="pagefunction.getPageRowCount()" @on-change="handlefunctionCurrentChange" 
			:current="pagefunction.getPageNumber()"show-total show-elevator show-sizer :total="pagefunction.totalCount"></page> 
		</Modal>
	</div>
</body>
<script src="../../../js/jquery/IE.plugin.js"></script>
<!--[if lte IE 9]>	
	<script src="../../../js/ieBetter-min.js"></script>
	<script src="../../../js/jquery/respond.js"></script>
	<script src="../../../js/jquery/html5shiv.js"></script>	
<![endif]-->

<script src="../../../js/jquery/jquery.min.js"></script>
<script src="../../../js/jquery/jquery-migrate.min.js"></script>
<script src="../../../js/jquery/layer/layer.js"></script>
<script src="../../../js/vue/vue.min.js"></script>
<script src="../../../js/vue/ui/iview.min.js"></script>
<script src="../../../js/sdp/SDPUrl.js"></script>
<script src="../../../js/sdp/SDPContext.js"></script>
<script src="../../../js/sdp/Page.js"></script>
<script src="../../../js/sdp/Row.js"></script>
<script src="../../../js/sdp/RowSet.js"></script>
<script src="../../../js/sdp/DataStore.js"></script>
<script src="../../../js/sdp/SDPDic.js"></script>
<script type="text/javascript" src="functionRole.js"></script>
</html>