<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="description" content="sdp">
<meta name="keywords" content="SDP">
<title>项目清单</title>
<link rel="stylesheet" href="../../css/iview.css">
<link rel="stylesheet" href="../../js/jquery/layer/skin/default/layer.css">
<link rel="stylesheet" href="../../css/sdp-ui.css" />
<link rel="stylesheet" href="../../css/fonts/iconic/material-design-iconic-font.min.css" />
<link rel="stylesheet" href="../../css/fonts/awesome/font-awesome.min.css" />
</head>
<body>
<div  class="sdp-main-container" id="mainContainer" v-cloak>
<div style="margin-left:20px;">
    <i-form inline :model="params" :label-width="80">
    	<form-item label="项目编号:">
    		<i-input v-model="params.prj_code" style="width:120px;"></i-input>
    	</form-item> 
		<form-item label="项目名称:">
			<i-input v-model="params.prj_name" style="width:200px;"></i-input>
		</form-item>
    	<form-item label="项目类别：">
    		<i-select v-model="params.prj_class">
		       <i-option v-for="item in dicDatas['gpm_prj_class']" :value="item.dic_value" :key="item.dic_value">{{ item.dic_label }}</i-option>
		    </i-select>
    	</form-item>
		<i-button @click="searchDatas" icon="search" style="margin-left:8px;">查询</i-button>
	</i-form>
	<i-table stripe :data='datas' :columns="columns" style="margin-right:20px;" height="400px"  border></i-table>
	<page @on-page-size-change="handleSizeChange"
		:page-size="page.getPageRowCount()" @on-change="handleCurrentChange"
		:current="page.getPageNumber()" show-total show-elevator show-sizer
		:total="page.totalCount"> </page>
</div>
</div>
</body>
<!--[if lte IE 9]>
	<script src="../../js/jquery/respond.js"></script>
	<script src="../../js/jquery/html5shiv.js"></script>	
<![endif]-->

<!-- 引入 jquery -->
<script src="../../js/jquery/jquery.min.js"></script>
<script src="../../js/jquery/jquery-migrate.min.js"></script>
<script src="../../js/jquery/layer/layer.js"></script>
<script src="../../js/jquery/IE.plugin.js"></script>
<!-- 引入 Vue -->
<script src="../../js/vue/vue.min.js"></script>
<!-- 引入组件库 -->
<script src="../../js/vue/ui/iview.min.js"></script>

<script src="../../js/sdp/SDPUrl.js"></script>
<script src="../../js/sdp/SDPContext.js"></script>
<script src="../../js/sdp/Page.js"></script>
<script src="../../js/sdp/Row.js"></script>
<script src="../../js/sdp/RowSet.js"></script>
<script src="../../js/sdp/DataStore.js"></script>
<script src="../../js/sdp/SDPDic.js"></script>
<script src="projectChangeList.js"></script>
</html>